body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.timer {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.field {
    display: flex;
    flex-direction: column;
}